
html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 720px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 720px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
      font-size: 21px;
    }
}

body {
    margin: auto;
    padding: 2rem;
    color: #222;
    background: #fff;
}

a {
    color: #0033cc;
  }

#formBox {
    text-align: center;
}

#h3Datos{
    text-align: center;
}

input[type="file"] {
    display: none;
}

.cargarCustomizado {
    border: 1px solid #ccc;
    background-color: rgba(77, 111, 80, 0.623);
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#h1Titulo{
    text-align: center;
}

#navegacion{
    text-align: center;
}

input:hover { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

input:focus, textarea:focus { 
    outline: none !important;
    border-color: #ce7171;
    box-shadow: 0 0 10px #ce7171;
}

#mapaTienda {
    margin: auto;
    display: flex;
}

#map {
    height: 400px;
    width: 600px;
    float: left;
    margin: auto;
    top: 50%;
    translate: transformY(-50%) translate;
}

#tiendas {
    width: 200px;
    float: right;
    margin: auto;
}

.barraNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(77, 111, 80, 0.623);
}

.listaTiendas { 
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(77, 111, 80, 0.623);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

li a:hover {
    background-color: #111;
}

ol {
    list-style-type: none;
}

.infoTiendas {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(77, 111, 80, 0.623);
}

.principal {
    background-color: #096f4a;
}

.clima-otros-dias {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: min-content;
}

#clima1 {
    text-align: center;
    padding: 20px;
    width: 300px;
    height: max-content;
}

#clima2 {
    text-align: center;
    padding: 20px;
    width: 300px;
    height: max-content;
}

#clima3 {
    text-align: center;
    padding: 20px;
    width: 300px;
    height: max-content;
}

#clima4 {
    text-align: center;
    padding: 20px;
    width: 300px;
    height: max-content;
}

#descripcion-clima-maniana1 {
    hyphens: auto;
    text-align: justify;
}

#descripcion-clima-maniana2 {
    hyphens: auto;
    text-align: justify;
}

#descripcion-clima-maniana3 {
    hyphens: auto;
    text-align: justify;
}

#descripcion-clima-maniana4 {
    hyphens: auto;
    text-align: justify;
}

#descripcion-clima-tarde1 {
    hyphens: auto;
    text-align: justify;
}

#descripcion-clima-tarde2 {
    hyphens: auto;
    text-align: justify;
}

#descripcion-clima-tarde3 {
    hyphens: auto;
    text-align: justify;
}

#descripcion-clima-tarde4 {
    hyphens: auto;
    text-align: justify;
}

.alertas {
    position: absolute;
}

